body{
	background: #eee;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #444;
}

.container{
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}

.inner{
	width: 500px;
	margin: 0 auto;
}

form{
	margin: 0 auto;
	display: block;
	text-align: left;
}

form input, button, .popup input{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	box-sizing : border-box;
}

#warning, #newAppWarning{
	color: #e74c3c;
	display: none;
}

input.warning{
	border: 1px solid #e74c3c;
}

button{
	margin-top: 20px;
}

button:hover{
	cursor: pointer;
}

.appointment{
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

.appointment:hover{
	cursor: pointer;
	background: rgba(255,255,255,0.7);
}

.appointment p{
	display: inline;
}

#results{
	list-style: none;
	padding: 0;
	width: 100%;
}

#newAppForm{
	display:none;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 30px;
	background: #f5f5f5;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	display: none;
}

#addNewButton:hover{
	background: #e74c3c;
	color: #fff;
}

.popup {
	width: 500px;
	text-align: left;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
}

.popup label{
	color: #fff;
	margin-bottom: 10px;
	display: block;
}

.popup button{
	width: 32.7%;
}

.popup button:hover{
	background: #e74c3c;
	color: #fff;
}

#results .date{
	float: left;
}

#results .time{
	float: left;
	margin-left: 20px;
}
#results .user{
	float: right;
	color: #e74c3c;
}

#results .user span{
	color: #000;
	margin-left: 10px;
}
#results .description{
	float: right;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}